# Banco de Dados
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Porta do servidor
PORT=3000

# Ambiente de execução (pode ser 'development', 'production' ou 'test')
NODE_ENV=development

# URL do frontend (para CORS)
FRONTEND_URL=http://localhost:3001

# JWT (autenticação)
JWT_SECRET=umasegredosecretadeverdade
JWT_EXPIRATION=1d

# WebSocket
WS_ORIGIN=http://localhost:3001

CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_UPLOAD_PRESET=seu_preset_name
CLOUDINARY_API_URL=https://api.cloudinary.com/v1_1/seu_cloud_name/image/upload
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret
